//navbar
$navbar-default-bg: #a79c94;

@import "/*";
@import 'tether';
@import "bootstrap";
//nav style


.admintab:link {
    color:#8f7c6d
}
.admintab:hover {
    color: #fff;
    background-color: #d6c5b8;
}


